#award {
    transition: opacity 1s;
    position: absolute;
    width: 12%;
    bottom: 0;
    margin: 1.5%;
    z-index: 50;
}
#funnybusiness, #olblue {
    height: 8%;
    aspect-ratio: 1;
    background-color: #ffffff;
    margin: 0;
    right: 0;
    top: 0;
    position: absolute;
    text-align: center;
    cursor: pointer;
    font-size: 100%;
}

#funnybusiness {
    background-color: #0c1bd0;
    color: #0c1bd0;
}

#olblue {
    height: 100%;
    background-color: #0c1bd0;
    transition: height 1s, aspect-ratio 1s;
    z-index: 100;
}

body {
    background-color: #0c1bd0;
}
#bigolmap {
    width: 97vw;
    height: 87.5vh;
    position: relative;
    float: right;
    margin: 2.5vh;
    fill: #02d601;
    stroke: #000000;
    stroke-width: ".5";
}
#countrySelect {
    font-size: 16px;
    position: absolute;
}
#choose{
    margin-top: 1vh;
    position: absolute;
    font-size: 16px;
    z-index: 999;
    height: calc(1rem + 1vh);
}
a {
    bottom: 0;
    right: 0;
    position: absolute;
    color: #c1dfe9;
    margin: 0.25%;
}
