body {
  max-width: 100%;
  overflow-x: hidden;
}

swag {
  color: red;
  text-shadow: 2px 2px #bc13fe;
}

me {
  color: #0040ff;
}

tech {
  color: #39FF14;
}

mydog {
  opacity: 0;
}
mydog:hover {
  opacity: 1;
}
    
.j {
  position: relative;
  top: -150px;
  left: 1000px;
}

.spin{
  width: 150px;
}

#splash {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 17px;
}